= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :headline
    = f.text_field :headline
  .field
    = f.label :done
    = f.check_box :is_completed
  .actions
    = f.submit