.span10
  %h2.task-header Recent Tasks

  -@tasks.group_by {|t| t.created_at.at_beginning_of_day}.each do |created_at, tasks|
    %h3.date-header
      = created_at.strftime("%b %d, %Y %A")
      %span.number-circle= tasks.count

    - tasks.each do |task|
      - if !task.is_deleted
        .task{:id => "task_#{task.id}"}
          .details
            %p
              = link_to task.headline, task

            = link_to '', :href => "#like",  :id => "task_link_#{task.id}", "data-remote" => true, :onclick => "taskrat.liketask(#{task.id})", :class => "line-heart-pictos.iconic-blue-heart_fill_16x14" do
              - if task.like.count > 0
                %span.line-heart-pictos.iconic-blue-heart_fill_16x14
              - else
                %span.line-heart-pictos.iconic-blue-heart_stroke_16x14

            %span.likecounter= task.like.count > 0 ? task.like.count : ""
            - if !task.completed_at.nil?
              %span.dot .
              Completed:
              = time_ago_in_words(task.completed_at)
              ago
              %span.line-pictos.iconic-blue-check_alt_16x16

          .action
            = link_to '', edit_task_path(task), :class => "link-pictos iconic-blue-pen_16x16", title: "Edit"
            = link_to '', :href => "#delete", :id => "delete_link_#{task.id}", "data-remote" => true, :onclick => "taskrat.deletetask(#{task.id})",  title: "Delete" do
              %span.link-pictos.iconic-blue-x_alt_16x16
            -#= link_to '', task, :id => "task_link_#{task.id}", class: "link-pictos iconic-blue-x_alt_16x16", remote: true,  method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete"

          .createdat
            = time_ago_in_words(task.created_at)
            ago

.span2.sidebar
  .created
    = link_to "Tasks", tasks_path
    %br/
    %span.line-heart-pictos.iconic-blue-layers_32x28
    %span.count
      = @tasks.length
  .completed
    = link_to "Completed", tasks_path
    %br/
    %span.line-heart-pictos.iconic-blue-check_alt_32x32
    %span.count
      = @completed.count
  .deleted
    = link_to "Deleted", tasks_path
    %br/
    %span.line-heart-pictos.iconic-blue-trash_fill_32x32
    %span.count
      = @deleted.count


